.git
.github
.vscode
**/__pycache__
**/*.pyc
**/.pytest_cache
backend/.venv
frontend/node_modules
frontend/playwright-report
frontend/test-results
artifacts
main.aux
main.log
main.out
main.pdf
Paper_AREP.pdf
SyllabusEnterpriseArchitectureV1.20.pdf
texput.log
